@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script type="text/javascript" src="~/js/aware-feed.js"></script>
<script type="text/javascript">
    window.awareFeed = {
        application: "NAMSO-234",
        userId: "@(Guid.NewGuid().ToString())",
        template: "namso1",
        apiUrl: "https://localhost:7141"
    };    
</script>
