@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script type="text/javascript" src="~/js/aware-feed.js"></script>
<script type="text/javascript">
    window.awareFeed = { application: "NAMSO-234", userId: "@(Guid.NewGuid().ToString())", template: "namso234", lang:"en" }
</script>